<header>   
  <div class="container-fluid">
      <div class="row">
              <div class="col-3">
                  <div id="logo_home">
                      <h1><a href="index.html">Welcome to the registration page</a></h1>
                  </div>
              </div>
              <div class="col-9">
                  <div id="social">
                      <ul>
                          <li><a href="#0"><i class="icon-facebook"></i></a></li>
                          <li><a href="#0"><i class="icon-twitter"></i></a></li>
                          <li><a href="#0"><i class="icon-google"></i></a></li>
                          <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                      </ul>
                  </div>
                  <!-- /social -->
                  <nav>
                      <ul class="cd-primary-nav">
                          <li><a href="about.html" class="animated_link">About</a></li>
                          <li><a href="contacts.html" class="animated_link">Contacts</a></li>
                          <li><a href="icon-pack-1.html" class="animated_link">Icon Pack One</a></li>
                          <li><a href="icon-pack-2.html" class="animated_link">Icon Pack Two</a></li>
                          <li><a href="icon-pack-3.html" class="animated_link">Icon Pack Three</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
  </div>
  <!-- /container -->
</header>
<!-- /Header -->
