<footer>
  <div class="container clearfix">
    <ul>
      <li><a href="index.html" class="animated_link active">Multiple Branch</a></li>
      <li><a href="index-2.html" class="animated_link">Single Branch</a></li>
      <li><a href="index-3.html" class="animated_link">Without Branch</a></li>
      <li><a href="index-4.html" class="animated_link">Images Version</a></li>
      <li><a href="https://themeforest.net/item/steps-multipurpose-working-wizard-with-branches/21134396?ref=ansonika" class="animated_link" target="_parent"><strong>Purchase this Template</strong></a></li>
    </ul>
    <p>© 2017 Steps</p>
  </div>
</footer>