<div class="container">
  <div id="wizard_container">
    <form name="example-1" id="wrapped" method="POST" ngform>
      <input id="website" name="website" type="text">
      <div id="middle-wizard">

        <!-- This is the hearder division where title is present -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>Please select one of the following</h3>
          </div>

          <!-- This is the option selection for the gender -->
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <input id="male" name="male" type="radio" value="male" (click)="getMale()" class="required">
                <label for="male"><img src="./assets/img/svg/man-2.svg" alt="" style="width:120px; height:120px;"><strong>Male</strong></label>
              </div>
            </div>


            <div class="col-lg-6">
                <div class="item">
                  <input id="female" name="female" type="radio" value="female" (click)="getFemale()" class="required"> 
                  <label for="female"><img src="./assets/img/svg/girl-1.svg" alt="" style="width:120px; height:120px;"><strong>Female</strong></label>
                </div>
              </div>



            <div class="col-lg-12">
              <div id="bottom-wizard">


                <!-- <button type="button" name="forward" routerLink="/container2" class="forward">Forward</button> -->

                <button type="button" name="backward" routerLink="/" class="backward">Backward </button>

              </div>
            </div>





          </div>
        </div>
      </div>
    </form>
  </div>
</div>
