<div class="container">
  <div id="wizard_container">
    <form name="example-1" id="wrapped" method="POST" ngform>
      <input id="website" name="website" type="text" value="">
      <!-- Leave input above for security protection, read docs for details -->
      <div id="middle-wizard">

        <!-- First branch What Type of Project ============================== -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>What Type of Project do you need?</h3>
            <p>Selection with Branch (First Branch). Web Development have a <strong>Second Branch</strong>.</p>
          </div>


          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <input id="adult" type="radio" name="adult" (click)="getAdult()" value="adult" class="required">
                <label for="adult"><img src="/assets/img/svg/man-1.svg" style="width:120px; height:120px;" alt=""><strong>Adult</strong></label>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="item">
                <input id="kid" name="kid" type="radio" value="kid" (click)="getKid()" class="required">
                <label for="kid"><img src="/assets/img/svg/boy.svg" style="width:120px; height:120px;" alt=""><strong>Kids</strong></label>
              </div>
            </div>
            <div class="col-lg-12">
            <div id="bottom-wizard">
              <button type="button" name="backward" routerLink="/gender-selection" class="backward">Backward </button>


              <!-- <button type="button" name="forward" routerLink= "/container3" class="forward">Forward</button> -->
            </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
