<div class="jumbotron text-xs-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Your request is been queued</strong> for further details, go through the message that you will recieve in a momonet.</p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <div>
      <h2>Hello {{latestLead?.user.name}}, thank you for your patience.</h2>
      <h2>Your token number is {{latestLead?.token}}. Please wait for sometime as our executive will reply you.</h2>
      <!-- <h2>{{latestLead?.phoneNumber}}</h2> -->
    </div>
    <p class="lead">
      <button type="button" name="forward" routerLink="/" class="forward">Continue to homepage</button>
    </p>
  </div>
