<div class="container">
  <div>
    <form (ngSubmit)="userInfo(f)" method="POST" #f="ngForm">
      <div id="middle-wizard">

        <!-- First branch What Type of Project ============================== -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>Please enter your mobile number</h3>
          </div>


          <div class="col-lg-8">
            <div class="form-group">
              <label>Mobile number</label>
              <input name="number" mask='9999999999' maxlength="10" ngModel #number="ngModel" type="number" class="form-control" placeholder="Enter number" value="{{dataObj?.phoneNumber}}" (keyup)="onKey($event)" required>
              <small class="form-text text-muted">We'll never share your number with anyone else.</small>
            </div>


            <div class="form-group">
              <label>Name</label>
              <input name="name" #name="ngModel"  class="form-control" type="text" placeholder="Enter name" ngModel value="{{dataObj?.name}}">{{dataObj?.name}}
            </div>  


            <!-- <div style="text-align:center; padding-left: 400px">
              <select class="btn btn-info" name="userList" style="text-align:center">
                <option name="" value="customer">Customer</option>
                <option name="" value="employee">Employee</option>
              </select>
            </div> -->


            <!-- <div class="form-group">
              <label class="form-label">Category Selection</label>
              <select class="form-control" [ngModel]="selectedRoles" (ngModelChange)="onChange($event)" name="sel2">
                  <option [ngValue]="i" *ngFor="let i of selectRoles">{{i}}</option>
              
             </select>
            </div> -->
            
          </div>  


          <div id="bottom-wizard">
            <button type="button" name="backward" routerLink="/" class="backward">Backward </button>

            <button type="submit" name="forward" class="btn btn-primary">Forward</button>
          </div>


        </div>
      </div>
    </form>
  </div>
</div>