@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300,400,400i,700,700);

#loader_,
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999 !important;
  bottom: 0
}

.box_feat h3,
.hero_in h1,
.item label strong,
.main_title h2 {
  text-transform: uppercase
}

#social,
footer p {
  float: right
}

#social ul li,
.btn_1,
a.btn_1,
footer ul li {
  display: inline-block
}

#success,
.box_contact {
  box-sizing: content-box
}

#preloader {
  background-color: #fff
}

[data-loader=circle-side],
[data-loader=circle-side-2] {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-animation: circle infinite .95s linear;
  -moz-animation: circle infinite .95s linear;
  -o-animation: circle infinite .95s linear;
  animation: circle infinite .95s linear;
  border: 2px solid #1c5dab;
  border-top-color: rgba(0, 0, 0, .2);
  border-right-color: rgba(0, 0, 0, .2);
  border-bottom-color: rgba(0, 0, 0, .2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%
}

#loader_form {
  background-color: #fafafa;
  background-color: rgba(255, 255, 255, .6);
  display: none
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  background: #fff;
  font-size: 15px;
  font-size: .9375rem;
  line-height: 1.4;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color: #555
}

a.animated_link.active:before,
a.animated_link:before {
  width: 100%;
  height: 2px;
  bottom: -5px;
  opacity: 1;
  left: 0;
  background-color: #0073e5;
  content: ""
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333
}

p {
  margin-bottom: 30px
}

strong {
  font-weight: 600
}

.btn_1,
a.btn_1,
button.backward,
button.forward,
button.submit {
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  outline: 0;
  cursor: pointer
}

hr {
  margin: 30px 0;
  border-color: #ededed
}

.main_title {
  text-align: center
}

.main_title h2 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0
}

.main_title p {
  font-size: 21px;
  font-size: 1.3125rem;
  color: #777
}

.question_title {
  text-align: center;
  margin-bottom: 25px
}

.question_title h3 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-top: 45px;
  color: #333
}

#logo_home h1,
#social ul,
footer p,
footer ul {
  margin: 0;
  padding: 0
}

.question_title p {
  font-size: 15px;
  font-size: .9375rem;
  color: #777;
  margin-bottom: 0
}

a.animated_link {
  position: relative;
  text-decoration: none
}

a.animated_link:before {
  position: absolute;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease
}

a.animated_link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

a.animated_link.active {
  position: relative;
  text-decoration: none;
  color: #0073e5
}

a.animated_link.active:before {
  position: absolute;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

a {
  color: #409fff;
  text-decoration: none;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: 0
}

a:focus,
a:hover {
  color: #0073e5;
  text-decoration: none;
  outline: 0
}

.btn_1,
a.btn_1 {
  border: none;
  background: #409fff;
  padding: 7px 20px;
  color: #fff;
  line-height: 1;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px
}

.btn_1:hover,
a.btn_1:hover {
  background: #0073e5;
  color: #fff
}

header {
  position: relative;
  padding: 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #d9e1e6
}

#logo_home h1 a {
  width: 55px;
  height: 35px;
  display: block;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 55px 35px;
  text-indent: -9999px
}

@media only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2 / 1),
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2) {
  #logo_home h1 a {
    background-image: url(../img/logo_2x.png);
    background-size: 55px 35px
  }
}

#social {
  margin: 0 60px 0 0
}

#social ul {
  text-align: center
}

#social ul li {
  margin: 0 5px 10px 0
}

#social ul li a {
  color: #444;
  text-align: center;
  line-height: 35px;
  display: block;
  font-size: 16px;
  width: 25px;
  height: 25px;
  padding: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

#social ul li a:hover {
  color: #0073e5 !important
}

main {
  background: url(../img/pattern.svg) #f8f8f8
}

main.plain {
  background: #f8f8f8
}

.box_general,
.item label {
  -webkit-border-radius: 5px;
  background-color: #fff
}

footer {
  border-top: 1px solid #d9e1e6;
  padding: 30px 0
}

footer ul {
  float: left
}

footer ul li {
  margin-right: 15px
}

@media (max-width:991px) {
  footer p {
    float: none;
    margin-top: 15px
  }

  footer ul {
    float: none
  }

  footer ul li {
    margin-bottom: 10px
  }
}

footer ul li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 9px;
  color: #999
}

footer ul li:last-child {
  margin-right: 0
}

footer ul li:last-child:after {
  content: ""
}

footer ul li a {
  color: #555
}

footer ul li a:hover {
  color: #0073e5
}

.item label {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 45px;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all .3s cubic-bezier(.77, 0, .175, 1);
  -moz-transition: all .3s cubic-bezier(.77, 0, .175, 1);
  -ms-transition: all .3s cubic-bezier(.77, 0, .175, 1);
  -o-transition: all .3s cubic-bezier(.77, 0, .175, 1);
  transition: all .3s cubic-bezier(.77, 0, .175, 1);
  position: relative;
  border: 1px solid #d9e1e6;
  font-size: 15px;
  font-size: .9375rem;
  color: #777;
  cursor: pointer
}

.item label img,
.item label span {
  margin: 0 auto 15px;
  display: block
}

@media (max-width:991px) {
  .item label {
    padding: 30px
  }
}

.item label strong {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333
}

.item label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px)
}

@media (max-width:767px) {
  .item label img {
    width: 80px;
    height: auto
  }
}

.item label span {
  border: 4px solid #d9e1e6;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease
}

.item label figure {
  position: relative;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  overflow: hidden
}

.item label figure img {
  width: 130px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}

.item input[type=checkbox]:not(old),
.item input[type=radio]:not(old) {
  visibility: hidden
}

.item input[type=checkbox]:not(old):checked+label,
.item input[type=checkbox]:not(old):checked+span+label,
.item input[type=radio]:not(old):checked+label,
.item input[type=radio]:not(old):checked+span+label {
  display: block;
  border: 1px solid #acd373;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0
}

.item input[type=checkbox]:not(old):checked+label:before,
.item input[type=checkbox]:not(old):checked+span+label:before,
.item input[type=radio]:not(old):checked+label:before,
.item input[type=radio]:not(old):checked+span+label:before {
  font-family: fontello;
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #acd373
}

#wizard_container,
.checkbox_questions {
  position: relative
}

.item input[type=checkbox]:not(old):checked+label span,
.item input[type=checkbox]:not(old):checked+span+label span,
.item input[type=radio]:not(old):checked+label span,
.item input[type=radio]:not(old):checked+span+label span {
  border: 4px solid #acd373
}

#success,
.box_general {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px
}

.item input[type=checkbox]:not(old):checked+label figure img,
.item input[type=checkbox]:not(old):checked+span+label figure img,
.item input[type=radio]:not(old):checked+label figure img,
.item input[type=radio]:not(old):checked+span+label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2)
}

.checkbox_questions span.error {
  left: -5px;
  top: -35px
}

.checkbox_questions .icheckbox_square-grey {
  margin-right: 10px
}

.box_general {
  border-radius: 5px;
  display: block;
  padding: 45px;
  border: 1px solid #d9e1e6
}

@media (max-width:991px) {
  .box_general {
    padding: 30px
  }
}

input#website {
  display: none
}

#wizard_container {
  min-height: 450px
}

button.backward,
button.forward,
button.submit {
  border: none;
  color: #fff;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  min-width: 110px;
  background: #409fff;
  position: relative;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 30px
}

button.backward:before,
button.forward:before,
button.submit:before {
  font-family: ElegantIcons;
  position: absolute;
  top: 8px;
  font-size: 18px
}

button.backward {
  color: #333;
  background: #e8e8e8;
  padding: 10px 20px 10px 30px
}

button.forward,
button.submit {
  padding: 10px 30px 10px 20px
}

button[disabled] {
  display: none
}

button.backward:before {
  content: "\34";
  left: 12px
}

button.forward:before {
  content: "\35";
  right: 10px
}

button.submit:before {
  content: "\4e";
  right: 10px
}

.backward:hover,
.forward:hover {
  background: #0073e5;
  color: #fff
}

.ui-widget-content a,
.ui-widget-header a {
  color: #222
}

#middle-wizard {
  padding: 30px 0 15px
}

#bottom-wizard {
  padding: 30px 0 45px;
  text-align: center; 
}

.ui-widget-header {
  background: #6C3
}

.ui-progressbar {
  height: 3px;
  width: 100%;
  position: relative;
  top: -1px;
  z-index: 2
}

.ui-progressbar .ui-progressbar-value {
  height: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

#success {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  margin-top: -120px;
  margin-left: -195px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 45px;
  border: 1px solid #d9e1e6
}

#success h4 {
  margin: 0
}

#success h4 span {
  display: block;
  font-size: 24px
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }

  100% {
    stroke-dashoffset: 0
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }

  100% {
    stroke-dashoffset: 480px
  }
}

.inlinesvg .svg svg {
  display: inline
}

.icon--order-success svg path {
  -webkit-animation: checkmark .25s ease-in-out .7s backwards;
  animation: checkmark .25s ease-in-out .7s backwards
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle .6s ease-in-out backwards;
  animation: checkmark-circle .6s ease-in-out backwards
}

.hero_in {
  text-align: center;
  height: 275px;
  border-bottom: 1px solid #d9e1e6;
  position: relative
}

.hero_in.shortcodes {
  background: url(../img/shortcodes_bg.svg) center bottom no-repeat #edfeff
}

.hero_in.about {
  background: url(../img/about_bg.svg) center bottom no-repeat #edfeff
}

.hero_in div {
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.hero_in h1 {
  background-color: #2ab6fb;
  margin: 0;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1
}

.box_feat,
.widget {
  margin-bottom: 25px
}

.box_feat {
  background-color: #fff;
  padding: 40px 35px 5px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  color: #777
}

.box_feat h3 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #f5ab35;
  font-weight: 700
}

.about_info {
  padding-left: 75px;
  position: relative
}

.about_info h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 700
}

.about_info h4 span {
  display: block;
  font-weight: 400
}

.about_info i {
  font-size: 60px;
  color: #1c5dab;
  position: absolute;
  left: 0;
  top: 0
}

@media (max-width:767px) {
  .about_info {
    padding-left: 0
  }

  .about_info i {
    display: none
  }
}

.widget {
  border-bottom: 1px solid #e8ebed
}

.widget h4 {
  font-size: 21px;
  font-size: 1.3125rem
}

.widget.last {
  border-bottom: none
}

.widget ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px
}

.widget.last#follow ul li a {
  color: #333
}

.widget.last#follow ul li a i {
  color: #409fff;
  margin-right: 5px;
  font-size: 18px
}

.widget.last#follow ul li a:hover {
  color: #409fff;
  text-decoration: none
}

.widget#gallery ul li {
  display: inline-block;
  width: 65px;
  height: 65px;
  overflow: hidden;
  margin-right: 3px
}

.widget#gallery ul li figure img {
  width: 65px;
  height: auto
}

blockquote.testimonial {
  background: #fff;
  border-radius: 5px;
  border: 0;
  font-family: Georgia, serif;
  font-style: italic;
  margin: 0;
  padding: 20px;
  position: relative
}

blockquote.testimonial p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 14px;
  font-size: .875rem;
  line-height: 20px;
  margin-bottom: 0
}

.testimonial-arrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  height: 0;
  margin: 0 0 0 25px;
  width: 0
}

.testimonial-author {
  margin: 8px 0 0 8px
}

.testimonial-author .img-thumbnail {
  float: left;
  margin-right: 10px
}

.testimonial-author .img-thumbnail img {
  max-width: 60px
}

.testimonial-author strong {
  color: #111;
  display: block;
  padding-top: 7px
}

.testimonial-author span {
  color: #666;
  display: block;
  font-size: 12px;
  font-size: .75rem
}

.testimonial-author p {
  color: #999;
  margin: 0 0 0 25px;
  text-align: left
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all .2s ease-in-out;
  transform: scale(.8)
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all .3s ease-out
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1)
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: .8
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(.8);
  opacity: 0
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0
}

#map_contact {
  width: 100%;
  height: 450px;
  border-bottom: 1px solid #d9e1e6
}

@media (max-width:991px) {
  #map_contact {
    height: 350px
  }
}

.box_contact {
  position: relative;
  padding-left: 60px;
  margin-bottom: 25px
}

.box_contact i {
  font-size: 42px;
  font-size: 2.625rem;
  color: #3f9fff;
  position: absolute;
  left: 0;
  top: 0
}

.box_contact h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 400
}

.styled-select {
  width: 100%;
  overflow: hidden;
  height: 44px;
  background: url(../img/arrow_down.svg) right center no-repeat #fff;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px
}

.styled-select select {
  background: 0 0;
  width: 107%;
  padding: 5px 5px 5px 15px;
  border: 0;
  height: 41px;
  color: #999;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  font-size: 16px;
  font-size: 1rem
}

.styled-select select:focus {
  color: #555;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.styled-select select::-ms-expand {
  display: none
}

.styled-select select::-moz-placeholder {
  color: #999;
  opacity: 1
}

.styled-select select::-webkit-input-placeholder {
  color: #999
}

input.form-control,
select.form-control,
textarea.form-control {
  background: #fff;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #999;
  height: 44px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 25px;
  padding: 6px 10px 6px 15px
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #409fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #555;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #195196;
  background-color: rgba(28, 93, 171, .03)
}

span.error {
  font-size: 12px;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: -20px;
  left: 15px;
  z-index: 2;
  height: 25px;
  line-height: 1;
  background-color: #e34f4f;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  padding: 6px 8px
}

span.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #e34f4f;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  padding-left: 400px;
}

.form-group span.error {
  left: -5px;
  top: -35px
}

.form-group .icheckbox_square-grey {
  margin-right: 10px
}

.form-group.short {
  margin-bottom: 10px
}

.qty-buttons {
  position: relative;
  width: 100%;
  height: 38px;
  display: inline-block
}

input.qty {
  width: 100%
}

input.qtyminus,
input.qtyplus {
  position: absolute;
  width: 35px;
  height: 40px;
  border: none;
  outline: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: -9999px;
  top: 2px
}

input.qtyplus {
  background: url(../img/plus.svg) center center no-repeat;
  right: 35px
}

input.qtyminus {
  background: url(../img/minus.svg) center center no-repeat;
  right: 5px
}

.rounded_slider {
  text-align: center
}

.rounded_slider p {
  margin-bottom: 0;
  color: #777
}

.rs-tooltip-text {
  font-family: "Roboto Condensed", Arial, sans-serif !important;
  font-weight: 700;
  font-size: 28px !important;
  font-size: 28px !important 16pxrem;
  color: #333
}

.rs-tooltip-text:before {
  content: '$'
}

.rs-handle-dot {
  border: 1px solid #ccc !important;
  padding: 6px
}

.rs-handle-dot:after {
  border: 1px solid #fff !important
}

.rs-seperator {
  border: 1px solid #AAA
}

.rs-border {
  border: 1px solid #fff !important
}

.rs-path-color {
  background-color: #f4f9ed !important
}

.rs-range-color {
  background-color: #8ec549 !important
}

.rs-bg-color {
  background-color: #FFF
}

.rs-handle {
  background-color: #fff !important
}

.rs-handle-dot {
  background-color: #FFF
}

.rs-handle-dot:after {
  background-color: #333 !important
}

.add_bottom_15 {
  margin-bottom: 15px
}

.add_bottom_30 {
  margin-bottom: 30px
}

.add_bottom_45 {
  margin-bottom: 45px
}

.add_bottom_60 {
  margin-bottom: 60px
}

.add_bottom_75 {
  margin-bottom: 75px
}

.add_top_10 {
  margin-top: 10px
}

.add_top_15 {
  margin-top: 15px
}

.add_top_20 {
  margin-top: 20px
}

.add_top_30 {
  margin-top: 30px
}

.add_top_60 {
  margin-top: 60px
}

.more_padding_left {
  padding-left: 40px
}

@media (max-width:767px) {
  .more_padding_left {
    padding-left: 0
  }

  .hidden_mobile {
    display: none !important
  }
}

.nomargin_top {
  margin-top: 0
}

.nomargin,
.nopadding {
  margin: 0 !important
}

.nopadding {
  padding: 0 !important
}

.margin_60 {
  padding-top: 60px;
  padding-bottom: 60px
}

.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px
}

@media (max-width:575px) {
  .margin_60_35 {
    padding-top: 30px;
    padding-bottom: 5px
  }
}

.margin_120 {
  padding-top: 120px;
  padding-bottom: 120px
}

@media (max-width:991px) {
  .margin_120 {
    padding-bottom: 60px;
    padding-top: 60px
  }
}

@media (max-width:575px) {
  .margin_120 {
    padding-top: 30px;
    padding-bottom: 30px
  }
}

.margin_120_95 {
  padding-top: 120px;
  padding-bottom: 95px
}

@media (max-width:991px) {
  .margin_120_95 {
    padding-top: 60px;
    padding-bottom: 35px
  }
}

@media (max-width:575px) {
  .margin_120_95 {
    padding-top: 30px;
    padding-bottom: 5px
  }
}

.margin_120_0 {
  padding-top: 120px
}

@media (max-width:991px) {
  .margin_120_0 {
    padding-top: 60px
  }
}

@media (max-width:575px) {
  .margin_120_0 {
    padding-top: 30px
  }
}

.margin_30_95 {
  padding-top: 30px;
  padding-bottom: 95px
}

@media (max-width:991px) {
  .margin_30_95 {
    padding-top: 15px;
    padding-bottom: 35px
  }

  .hidden_tablet {
    display: none !important
  }
}

@media (max-width:575px) {
  .margin_30_95 {
    padding-top: 5px;
    padding-bottom: 5px
  }
}
