<div class="container">
  <div id="wizard_container">
    <form name="example-1" id="wrapped" method="POST">
      <input id="website" name="website" type="text">
      <div id="middle-wizard">

        <!-- This is the hearder division where title is present -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>Please select one of the following</h3>
          </div>

          <!-- This is the option selection for the gender -->
          <div class="row">
            <div class="col-lg-6">
              <div class="item">
                <input id="Adults" name="Adults" type="radio" value="Adults" (click)="getAdults()" class="required">
                <label for="Adults"><img src="./assets/img/svg/girl-1.svg" alt="" style="width:120px; height:120px;"><strong>Adults</strong></label>
              </div>
            </div>


            <div class="col-lg-6">
                <div class="item">
                  <input id="kids" name="kids" type="radio" value="kids" (click)="getKids()" class="required"> 
                  <label for="kids"><img src="./assets/img/svg/girl.svg" alt="" style="width:120px; height:120px;"><strong>Kids</strong></label>
                </div>
              </div>



            <div class="col-lg-12">
              <div id="bottom-wizard">


                <!-- <button type="button" name="forward" routerLink="/container2" class="forward">Forward</button> -->

                <button type="button" name="backward" routerLink="/gender-selection" class="backward">Backward </button>

              </div>
            </div>





          </div>
        </div>
      </div>
    </form>
  </div>
</div>
