<div id="loader_form">
  <div data-loader="circle-side-2"></div>
</div>




<main>
  <router-outlet></router-outlet>
  <!-- /Container -->
</main>


<div>
  <app-header></app-header>
  
  <main>

    <!-- <app-gender-selection></app-gender-selection> -->

    <!-- <app-stage-selection></app-stage-selection>

    <app-service-selection></app-service-selection>

    <app-hair-service></app-hair-service>

    <app-num-verify></app-num-verify> -->

    

    <router-outlet></router-outlet>

    <app-footer></app-footer>

  </main>

</div>


<div class="cd-overlay-nav">
  <span></span>
</div>
<!-- /cd-overlay-nav -->



<div class="cd-overlay-content">
  <span></span>
</div>
<!-- /cd-overlay-content -->



<a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
<!-- /cd-nav-trigger -->



<!-- Modal terms -->
<div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsLabel">Terms and conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus
          tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt
          sensibus.</p>
        <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id.
          No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum
          dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores
          id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
        <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id.
          No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
      </div>
    </div>
  </div>
</div>
