
<div class="container">
  <div>
    <form method="POST">
      
      <div id="middle-wizard">

        <!-- First branch What Type of Project ============================== -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>Please confirm your selection</h3>
          </div>

          
          <div class="col-lg-8">
            <div class="form-group">
              <label for="gender">Gender Selection</label>
              <input name="dataMale" type="text" class="form-control" value={{dataMale}}> 
            </div>

            <div class="form-group">
              <label for="stage">Stage Selection</label>
              <input name="stage" type="text" class="form-control" value={{dataStage}}>
            </div>

            <div class="form-group">
              <label for="service">Service Selection</label>
              <input name="service" type="text" class="form-control" value={{dataService}}>
            </div>
          </div>
          

          <div>
            <p style="text-align:center">If any changes to be made then please click on back button</p>
          </div>


          <div id="bottom-wizard">
            <button type="button" name="backward" routerLink="/service-selection" class="backward">Backward </button>
            
            <button type="button" name="forward" (click)="onSubmit()"  class="forward">Confirm</button>
          </div>
          


        </div>
      </div>
    </form>
  </div>
</div>
