<div class="container">
  <div id="wizard_container">
    <form name="example-1" id="wrapped" method="POST" ngform>
      <input id="website" name="website" type="text" value="">
      <div id="middle-wizard">

        <!-- This is the hearder division where title is present -->
        <div class="step" data-state="branchtype">
          <div class="question_title">
            <h3>Please select one of the following</h3>
          </div>

          <!-- This is the option selection for the gender -->
          <div class="row">
            <div class="col-sm-2" *ngFor="let cat of categories">
              <div class="item">
                  
                      
                      <label for="category" (click)="setService(cat.name)">

                        <img src="./assets/img/svg/014-hair-1.svg" alt="" style="width:80px; height:80px;"><strong>{{cat.name}}</strong>
                      
                      </label>
                    
              </div>

            </div>



            <!-- <div class="col-sm-2">
              <div class="item">
                <input id="beared" name="beared" type="radio" value="beared" (click)="getBeared()" class="required">
                <label for="beared"><img src="./assets/img/svg/013-beard.svg" alt="" style="width:80px; height:80px;"><strong>Beared</strong></label>
              </div>
            </div>



            <div class="col-sm-2">
              <div class="item">
                <input id="facial" name="facial" type="radio" value="facial" (click)="getFacial()" class="required">
                <label for="facial"><img src="./assets/img/svg/030-lotion.svg" alt="" style="width:80px; height:80px;"><strong>Facial</strong></label>
              </div>
            </div>



            <div class="col-sm-2">
              <div class="item">
                <input id="bleach" name="bleach" type="radio" value="bleach" (click)="getBleach()" class="required">
                <label for="bleach"><img src="./assets/img/svg/032-cream.svg" alt="" style="width:80px; height:80px;"><strong>Bleach</strong></label>
              </div>
            </div>


            <div class="col-sm-2">
              <div class="item">
                <input id="dtan" name="dtan" type="radio" value="dtan" (click)="getDtan()" class="required">
                <label for="dtan"><img src="./assets/img/svg/man-3.svg" alt="" style="width:80px; height:80px;"><strong>D-Tan</strong></label>
              </div>
            </div>


            <div class="col-sm-2">
              <div class="item">
                <input id="massage" name="massage" type="radio" value="massage" (click)="getMassage()" class="required">
                <label for="massage"><img src="./assets/img/svg/004-spray-1.svg" alt="" style="width:80px; height:80px;"><strong>Massage</strong></label>
              </div>
            </div>


            <div class="col-sm-2">
              <div class="item">
                <input id="waxing" name="waxing" type="radio" value="waxing" (click)="getWaxing()" class="required">
                <label for="waxing"><img src="./assets/img/svg/005-blade.svg" alt="" style="width:80px; height:80px;"><strong>Waxing</strong></label>
              </div>
            </div>

            <div class="col-sm-2">
              <div class="item">
                <input id="pedicure" name="pedicure" type="radio" value="pedicure" (click)="getPedicure()" class="required">
                <label for="predicure"><img src="./assets/img/svg/download (1).png" alt="" style="width:80px; height:80px;"><strong>Pedicure</strong></label>
              </div>
            </div> -->


            <!-- <div class="col-sm-2">
              <div class="item">
                <input id="manicure" name="manicure" type="radio" value="manicure" (click)="getManicure()" class="required">
                <label for="manicure"><img src="./assets/img/svg/apple-touch-icon-57x57-precomposed.png" alt="" style="width:80px; height:80px;"><strong>Manicure</strong></label>
              </div>
            </div> -->

            <div class="col-lg-12">
              <div id="bottom-wizard">

                <button type="button" name="backward" routerLink="/stage-selection" class="backward">Backward </button>
                <!-- <button type="button" name="forward" routerLink="/num-verify" class="forward">Forward</button> -->

              </div>
            </div>





          </div>
        </div>
      </div>
    </form>
  </div>
</div>
