<div class="content">
  <aside class="side">
    <figure id="picture" class="picture">
      <div class="picture-shadow"></div>
      <!-- Change the file names of your images -->
      <img id="pictureImage" class="picture-image" src="../../assets/img/svg/037-barbershop.svg" alt="Portrait of Akhilesh Sooji"
        width="80" height="80">
    </figure>
  </aside>
  <main class="about">
    <h1 class="name">
      <!-- Change your name here -->
      Welcome
    </h1>
    <p class="job">
      <!-- Change your title here -->

    </p>
    <hr class="hr">
    <div class="description">
      <p>
        <!-- describe yourself here -->
        I spend my time traveling the world,
        helping startups and financial businesses
        hire the best people.
      </p>
    </div>
    <div class="contact">
      <a class="button" [routerLink]="['/gender-selection']">
        Get in touch
      </a>
    </div>
    <ul class="social">
      <!-- <li>
                    <a href="https://twitter.com/@manoharsn">
                        <i class="fab fa-twitter"></i>
                    </a> 
                </li> -->
      <li>
        <!-- your facebook profile url -->
        <a href="https://www.facebook.com/">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <!-- your linkedin profile url -->
        <a href="https://www.linkedin.com/in/">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li>
        <!-- your personal website url -->
        <a href="#">
          <i class="fab fa-globe"></i>
        </a>
      </li>
    </ul>
  </main>
</div>
<noscript>
  <style type="text/css">
    .wallpaper {
      animation-name: zoomOut;
    }

    .picture {
      animation-name: dropIn;
    }

  </style>
</noscript>
